<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <span class="label label-info">Dodaj do koszyka</span>
        </div>
        <div class="modal-body">
            <h3>W bazie danych nie odnaleziono produktów spełniających kryteria szukania.</h3>

        </div>

        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">OK</button>
    </div>
</div>
