@model int
<h5 class="text-center" style="color:whitesmoke">Twój koszyk </h5>
<div class="text-center">
    <a href="@Url.Action("ShowCart","Cart")" type="button" class="btn btn-default">Liczba produktów: <span class="badge">@Model</span> </a>
</div>